<a href="https://colab.research.google.com/github/kellyDMmendes/SENAI_Programacao_em_Python/blob/main/02_Tipos_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tipos de Dados**

In [ ]:
# Tipos Numéricos (int, float)

x = 10     # Inteiro
y = -1     # Inteiro Negativo
z = -5.29  # Decimal Negativo
pi = 3.14  # Decimal

print(type(x))
print(type(y))
print(type(z))
print(type(pi))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
# Tipo Caracter | String (str)

nome = 'Kelly'
escola = "SENAI Ary Torres"

print(nome)
print(escola)
print()
print(type(nome))
print('\n', escola)  # Tabela ANSI
print('\n', escola[2])

Kelly
SENAI Ary Torres

<class 'str'>

 SENAI Ary Torres

 N

In [ ]:
# Tipos Lógicos (bool)

continuar = True
parar = False
casado = True

print(continuar)
print(parar)
print(type(casado))

True
False
<class 'bool'>

In [ ]:
# Declaração de Variáveis

texto = '2'
texto1 = str(2)
numero = 3
numero1 = int(3)
decimal = float(3)
logico = bool(False)

print(texto)
print(texto1)
print(numero)
print(numero1)
print(decimal)
print(logico)

2
2
3
3
3.0
False

In [ ]:
# Entrada de Dados

numero_inteiro = int(input("Digite um número inteiro: "))
print(numero_inteiro)

numero_decimal = float(input("\nDigite um número decimal: "))  # Separador de decimal: "."
print(numero_decimal)

valor_logico = bool(input("\nDigite algo: "))
print(valor_logico)

texto = input("\nDigite um valor alfanumérico: ")
print(texto)

Digite um número inteiro: 16
16

Digite um número decimal: 3.14
3.14

Digite algo: algo
True

Digite um valor alfanumérico: K
K

In [ ]:
# Identificar Tipo Primitivo

print(type(numero_inteiro))
print(type(numero_decimal))
print(type(valor_logico))
print(type(texto))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
# Análise de Strings

n = '5t'

print(n.isnumeric())    # Numérico
print(n.isalpha())      # Alfabético
print(n.isalnum())      # Alfanumérico
print(n.isupper())      # Maiúsculo
print(n.islower())      # Minúculo
print(n.istitle())      # Primeiro Maiúsculo
print(n.isdecimal())    # Numérico
print(n.isspace())      # Espaço

False
False
True
False
True
False
False
False

In [ ]:
# Exemplo: Análise de Strings

num = input("Digite um número: ")

if num.isnumeric():
    num = int(num)
else:
    print("Não é número...")

print(type(num))

Digite um número: 16
<class 'int'>

In [ ]:
# Constantes

PI = 3.1415
GRAVIDADE = 9.81

print("Valor de PI: ", PI)
print("Valor da gravidade: ", GRAVIDADE)

Valor de PI:  3.1415
Valor da gravidade:  9.81

In [ ]:
# Cores
"""
\033[ESTILO;FONTE;FUNDOm TEXTO \033[0m

\033[m \033[0m

Estilos: 0 nenhum | 1 negrito | 2 itálico | 4 sublinhado
"""

print("\033[1;33;45m Texto \033[0m")

print("\033[30m Cinza")
print("\033[31m Vermelho")
print("\033[32m Verde")
print("\033[33m Amarelo")
print("\033[34m Ciano")
print("\033[35m Magenta")
print("\033[36m Azul")
print("\033[37m Branco")

 Texto
 Cinza
 Vermelho
 Verde
 Amarelo
 Ciano
 Magenta
 Azul
 Branco

In [ ]:
# Colunas com Preenchimento e Alinhamento

print("Centralizado".center(30, '.'))
print("Direita".rjust(30, '.'))
print("Esquerda".ljust(30, '.'))

.........Centralizado.........
.......................Direita
Esquerda......................

In [ ]:
# Alinhamento para F-Strings

print(f"-----------------------------------------------")
print(f"| {'Unidade':>20} | {'5':^20} |")
print(f"| {'Unidade':^20} | {'5':^20} |")
print(f"| {'Unidade':<20} | {'5':^20} |")
print(f"-----------------------------------------------")

-----------------------------------------------
|              Unidade |          5           |
|       Unidade        |          5           |
| Unidade              |          5           |
-----------------------------------------------

In [ ]:
# Multiplicação de Strings

sus = '#'
ast = '*'

print(sus*2, ast*10, sus*2)
print('='*16)

## ********** ##
================

# **Desafios**

In [ ]:
# Desafio 01
"""
Crie um programa para efetuar a leitura de um número inteiro e apresentar o
resultado do quadrado desse número
"""

num = int(input("Digite um número inteiro: "))
print("\nNo.", num, "ao quadrado:", num**2)

Digite um número inteiro: 10

No. 10 ao quadrado: 100

In [ ]:
# Desafio 01
# Professor v1

num = int(input("Digite um número inteiro: "))
quad = num**2
print(quad)

Digite um número inteiro: 10
100

In [ ]:
# Desafio 01
# Professor v2

num = int(input("Digite um número inteiro: "))
print(num**2)

Digite um número inteiro: 10
100

In [ ]:
# Desafio 01
# Professor v3

print(int(input("Digite um número inteiro: "))**2)

Digite um número inteiro: 10
100

In [ ]:
# Desafio 01
# Professor v4

num = int(input("Digite um número inteiro: "))
quad = num**2
print("\nNo.", num, "ao quadrado:", quad)

Digite um número inteiro: 10

No. 10 ao quadrado: 100

In [ ]:
# Desafio 01
# Professor v5

num = int(input("Digite um número inteiro: "))
quad = num**2
print("\nNo. {} ao quadrado: {}".format(num, quad))

Digite um número inteiro: 10

No. 10 ao quadrado: 100

In [ ]:
# Desafio 01
# Professor v6

num = int(input("Digite um número inteiro: "))
quad = num**2
nome = 'Kelly'
print("\n%s diz que o no. %d ao quadrado é %f!"%(nome, num, quad))

Digite um número inteiro: 10

Kelly diz que o no. 10 ao quadrado é 100.000000.

In [ ]:
# Desafio 01
# Professor v7

num = int(input("Digite um número inteiro: "))
quad = num**2
nome = 'Kelly'
print(f"\n{nome} diz que o no. {num} ao quadrado é {quad}!")

Digite um número inteiro: 10

Kelly diz que o no. 10 ao quadrado é 100.

In [ ]:
# Desafio 02
"""
Escreva um programa que leia dois caracteres e imprima-os na tela da seguinte
forma:
'O usuário digitou {caractere1} e {caractere2}!'.
"""

car1 = input("Digite o 1o. caracter: ")
car2 = input("Digite o 2o. caracter: ")
print(f"\nO usuário digitou '{car1}' e '{car2}'!")

Digite o 1o. caracter: 1
Digite o 2o. caracter: a

O usuário digitou '1' e 'a'!

In [1]:
# Desafio 02
# Professor v1

car1 = input("Digite o 1o. caracter: ")
car2 = input("Digite o 2o. caracter: ")
print("\nO usuário digitou \"", car1,"\" e \"", car2,"\"!")

Digite o 1o. caracter: 1
Digite o 2o. caracter: a

O usuário digitou " 1 " e " a "!

In [2]:
# Desafio 02
# Professor v2

car1 = input("Digite o 1o. caracter: ")
car2 = input("Digite o 2o. caracter: ")
print(f"\nO usuário digitou \"{car1}\" e \"{car2}\"!")

Digite o 1o. caracter: 1
Digite o 2o. caracter: a

O usuário digitou "1" e "a"!

In [ ]:
# Desafio 03
"""
Crie um programa que leia um número inteiro e imprima seu sucessor e antecessor
"""

num = int(input("Digite um número inteiro: "))
print(f"\nAntecessor: {num-1}")
print(f"Sucessor:   {num+1}")

Digite um número inteiro: 10

Antecessor: 9
Sucessor:   11