<a href="https://colab.research.google.com/github/kellyDMmendes/SENAI_Programacao_em_Python/blob/main/03_Manipulacao_de_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Fatiamento de Strings

#        012345678901234
texto = "Curso de Python"

print(texto[6])       # 7o. caractere

print(texto[9:15])    # 10o. ao 15o. caractere

print(texto[9:15:2])  # 10o. ao 15o. caractere, salto 2

print(texto[:5])      # Até o 5o. caractere

print(texto[9:])      # 10o. caractere em diante

print(texto[::-1])    # inverter o texto

nome = 'KELLY'
print(nome[::-1])

In [ ]:
# Análise de String

#        0123456789012345
frase = "SENAI Ary Torres"

# Tamanho da String
print(len(frase))

# Contar Caracteres
print(frase.count('e'))

# Encontrar Índice (retorna -1 se não encontrar)
print(frase.find('r'))

# Encontrar Índice (a partir da direita)
print(frase.rfind('r'))

# Encontrar Índice (gra erro se não encontrar)
print(frase.index('r'))

# Verificar Existência
print('Ary' in frase)

In [27]:
# Transformação de Strings

# Maiúscula
print(frase.upper())

# Minúscula
print(frase.lower())

# Primeira da Frase em Maiúscula
print(frase.capitalize())

# Primeira de Cada Palavra em Maiúscula
print(frase.title())

SENAI ARY TORRES
senai ary torres
Senai ary torres
Senai Ary Torres

In [39]:
# Transformação de Strings

#Substituir Palavras
print(frase.replace('SENAI', 'ESCOLA'))

frase = "oi  SENAI Ary  Torres  oi"

# Retirada/Limpeza
print(frase.strip())      # limpa espaços antes e depois

print(frase.strip('oi'))  # limpa caracteres

frase2 = "https://google.com/h"
# frase2 = frase2.rstrip('h')
print(frase2.rstrip('h'))
print(frase2.lstrip('h'))
print(frase2)

oi  ESCOLA Ary  Torres  oi
oi  SENAI Ary  Torres  oi
  SENAI Ary  Torres
https://google.com/
ttps://google.com/
https://google.com/

In [55]:
# Divisão e Junção de Strings

texto = "SENAI Ary Torres"

# Juntar caracteres com delimitador
print('.'.join(texto))

# Dividir palavras em lista
print(texto.split())
texto = texto.split()

print(', '.join(texto))

#Acesso a Lista
print(texto[1])

#Acesso ao Último Item da Lista
print(texto[-1])

S.E.N.A.I. .A.r.y. .T.o.r.r.e.s
['SENAI', 'Ary', 'Torres']
SENAI, Ary, Torres
Ary
Torres

In [ ]:
### Teste de Limpeza ###
nova_frase = "oi  SENAI  Ary  Torres  oi"
print(type(nova_frase))
print(nova_frase)            # Antes

nova_frase = nova_frase.strip('oi').split()
print(type(nova_frase))
print(' '.join(nova_frase))  # Depois

# **Desafios**

In [87]:
# DESAFIO 01
"""
Crie um programa que leia o nome completo de uma pessoa e mostre:
 	O nome com todas as letras maiúsculas
 	O nome com todas as letras minúsculas
 	Quantas letras ao todo (sem considerar espaços)
 	Quantas letras tem o primeiro nome
"""

nome = input("Digite o seu nome completo: ")
print(f"\n{nome.upper()}")
print(f"{nome.lower()}")
sem_espacos = len(nome.replace(' ', ''))
print(f"Qtde. de letras do nome:          {sem_espacos}")
lista = len(nome.split()[0])
print(f"Qtde. de letras do primeiro nome: {lista}")

Digite o seu nome completo: kelly mendes

KELLY MENDES
kelly mendes
Qtde. de letras do nome:          11
Qtde. de letras do primeiro nome: 5

In [75]:
# DESAFIO 02
"""
Faça um programa que leia um numero de quatro dígitos entre 1000 a 9999 e mostre na tela
cada um dos dígitos separados.
Ex: Digite um numero: 1979

Unidade: 9
Dezena: 7
Centena: 9
Milhar: 1
"""

numero = input("Digite um número de quatro dígitos: ")
print(f"\nUnidade: {numero[3]}")
print(f"Dezena:  {numero[2]}")
print(f"Centena: {numero[1]}")
print(f"Milhar:  {numero[0]}")

Digite um número de quatro dígitos: 1324

Unidade: 4
Dezena:  2
Centena: 3
Milhar:  1

In [86]:
# DESAFIO 03
"""
Faça um programa que leia uma frase pelo teclado e mostre:

Quantas vezes aparece a letra "A"
Em que posição ela aparece a primeira vez
Em que posição ela aparece a ultima vez
"""

frase = input("Digite uma frase: ")
print(f"\nQtde. de 'A's:            {frase.count('A')} caractere(s)")
print(f"Primeira aparição de 'A': {frase.find('A') + 1}o. caractere")
print(f"Última aparição de 'A':   {frase.rfind('A') + 1}o. caractere")

Digite uma frase: A frase A

Qtde. de 'A's:            2 caractere(s)
Primeira aparição de 'A': 1o. caractere
Última aparição de 'A':   9o. caractere