<a href="https://colab.research.google.com/github/kellyDMmendes/SENAI_Programacao_em_Python/blob/main/06_Laco_de_Repeticao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Laço de Repetição**

In [4]:
# Laço de Repetição FOR

# Exemplo 01
for i in range(1, 6):
    print(i, end=' ')

1 2 3 4 5

In [5]:
# Exemplo 02
for i in range(0, 10, 2):  # range(inicio, fim, salto)
    print(i, end=' ')

0 2 4 6 8

In [7]:
# Exemplo 03
inicio = 5
fim = 0
salto = -1

for i in range(inicio, fim, salto):
    print(i, end=' ')

5 4 3 2 1

In [9]:
# Exemplo 04
for i in range(5):
    print(f"{i+1} | SENAI")

1 | SENAI
2 | SENAI
3 | SENAI
4 | SENAI
5 | SENAI

In [11]:
# Exemplo 05
texto = 'PYTHON'

for letra in texto:
    print(letra, end=' ')

P Y T H O N

In [14]:
# Exemplo 06
frase = ['Python', 'é', 'fantástico!']

for palavra in frase:
    print(palavra, end=' ')

Python é fantástico!

In [15]:
# Exemplo 07
lista = [1, 10, 20, 30, 40, 50]

for numero in lista:
    if numero == 30:
        continue  # pula o resto da iteração
    print(numero, end=' ')

1 10 20 40 50

In [17]:
# Exemplo 08
for i in range(50):
    if i >= 10:
        break
    else:
        print(i+1, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
# EXEMPLO 09
for i in range(1, 11):
    print()
    for j in range(1, 11):
        print(f"{i*j}".rjust(3), end=' ')

# **Desafios**

In [35]:
# DESAFIO 01
"""
Crie um programa que mostre na tela todos os números pares que estão
no intervalo entre 1 e 50.
"""
for i in range(2, 51, 2):
    print(f"{i:>3}", end=' ')
    if i % 20 == 0:
        print()

  2   4   6   8  10  12  14  16  18  20
 22  24  26  28  30  32  34  36  38  40
 42  44  46  48  50

In [ ]:
# DESAFIO 01
# Professor v1
for i in range(2, 51, 2):
    print(i, end=' ')

In [ ]:
# DESAFIO 01
# professor v2
for i in range(1, 51):
    if i%2 == 0:
        print(i, end=' ')

In [40]:
# DESAFIO 02
"""
Faça um programa que calcule a soma entre todos os números ímpares
que são múltiplos de três e que se encontram no intervalo de 1 até 500.
"""
soma = 0
for i in range(3, 500, 2):
    if i % 3 == 0:
        soma += i
print(f"Soma: \033[1m{soma:,}\033[0m")

Soma: 20,667

In [ ]:
# DESAFIO 02
# Professor v1
soma = 0
for i in range(0, 501, 3):
    if i%2 != 0:
        soma+=i
print(soma)

In [ ]:
# DESAFIO 02
# Professor v2
soma = 0
for num in range(0, 501, 3):
    if num%2 != 0:
        soma+=num
soma = f"{soma:,.0f}"
soma = soma.replace(',', '.')
print(soma)

In [54]:
# DESAFIO 03
"""
Mostre a tabuada de um número que o usuário escolher.
"""
numero = int(input("Digite um número: "))
print()
for i in range(1, 11):
    print(f"{i:>2} x {numero} = \033[1m{numero*i:>3}\033[0m")

Digite um número: 5

 1 x 5 =   5
 2 x 5 =  10
 3 x 5 =  15
 4 x 5 =  20
 5 x 5 =  25
 6 x 5 =  30
 7 x 5 =  35
 8 x 5 =  40
 9 x 5 =  45
10 x 5 =  50

In [119]:
# DESAFIO 04
"""
Faça um programa que mostre na tela uma contagem regressiva para
o estouro de fogos de artificio, indo de 10 até 0, com uma pausa
de 1 segundo entre eles.
Utilizar a Biblioteca TIME time.sleep(segundos)
"""
from time import sleep
from google.colab import output as o
for i in range(10, 0, -1):
    print(i, end=' ')
    sleep(1)
    o.clear()
print("🎆 FELIZ ANO NOVO 🎆")

🎆 FELIZ ANO NOVO 🎆

In [120]:
# DESAFIO 05
"""
Desenvolva um programa que leia seis números inteiros e mostre a soma apenas
daqueles que forem pares. Se o valor digitado for impar desconsidere-o.
"""
soma = 0
for i in range(6):
    numero = int(input(f"{i+1}º número: "))
    if numero % 2 == 0:
        soma += numero
print(f"\nSoma: \033[1m{soma:,}\033[0m")

1º número: 1
2º número: 2
3º número: 3
4º número: 4
5º número: 5
6º número: 6
Soma: 12

In [121]:
# DESAFIO 06
"""
Desenvolva um programa que leia o primeiro termo e a razão de uma PA.
No final, mostre os 10 primeiros termos dessa progressão.
"""
termo = int(input("Primeiro termo: "))
razao = int(input("Razão: "))
for i in range(10):
    print(termo + razao, end=' ')
    termo += razao
INCOMPLETO

Primeiro termo: 1
Razão: 2
3 5 7 9 11 13 15 17 19 21

In [ ]:
# DESAFIO 07
"""
Faça um programa que leia o peso de cinco pessoas.
No final, mostre qual foi o maior e o menor peso lidos.
"""