<a href="https://colab.research.google.com/github/kellyDMmendes/SENAI_Programacao_em_Python/blob/main/06_Laco_de_Repeticao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Laço de Repetição**

In [4]:
# Laço de Repetição FOR

# Exemplo 01
for i in range(1, 6):
    print(i, end=' ')

1 2 3 4 5

In [5]:
# Exemplo 02
for i in range(0, 10, 2):  # range(inicio, fim, salto)
    print(i, end=' ')

0 2 4 6 8

In [7]:
# Exemplo 03
inicio = 5
fim = 0
salto = -1

for i in range(inicio, fim, salto):
    print(i, end=' ')

5 4 3 2 1

In [9]:
# Exemplo 04
for i in range(5):
    print(f"{i+1} | SENAI")

1 | SENAI
2 | SENAI
3 | SENAI
4 | SENAI
5 | SENAI

In [11]:
# Exemplo 05
texto = 'PYTHON'

for letra in texto:
    print(letra, end=' ')

P Y T H O N

In [14]:
# Exemplo 06
frase = ['Python', 'é', 'fantástico!']

for palavra in frase:
    print(palavra, end=' ')

Python é fantástico!

In [15]:
# Exemplo 07
lista = [1, 10, 20, 30, 40, 50]

for numero in lista:
    if numero == 30:
        continue  # pula o resto da iteração
    print(numero, end=' ')

1 10 20 40 50

In [17]:
# Exemplo 08
for i in range(50):
    if i >= 10:
        break
    else:
        print(i+1, end=' ')

1 2 3 4 5 6 7 8 9 10

# **Desafios**

In [31]:
# DESAFIO 01
"""
Crie um programa que mostre na tela todos os números pares que estão
no intervalo entre 1 e 50.
"""
for i in range(2, 51, 2):
    if i % 20 != 0:
        print(f"{i:>3}", end=' ')
    else:
        print(f"{i:>3}")

  2   4   6   8  10  12  14  16  18  20
 22  24  26  28  30  32  34  36  38  40
 42  44  46  48  50

In [ ]:
# DESAFIO 01
# Professor v1
for i in range(2, 51, 2):
    print(i, end=' ')

In [ ]:
# DESAFIO 01
# professor v2

for i in range(1, 51):
    if i%2 == 0:
        print(i, end=' ')

In [29]:
# DESAFIO 02
"""
Faça um programa que calcule a soma entre todos os números ímpares
que são múltiplos de três e que se encontram no intervalo de 1 até 500.
"""
soma = 0
for i in range(1, 500, 2):
    if i % 3 == 0:
        soma += i
print(f"Soma: {soma}")

Soma: 20667